<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche du client</title>
</head>
<body>
    <h1>Fiche du client</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data[0][0] }}</td>
                <td>{{ data[0][1] }}</td>
                <td>{{ data[0][2] }}</td>
                <td>{{ data[0][3] }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('ReadBDD') }}">Retour à la liste des clients</a>
</body>
</html>
